body {
  --block-text-color: #222;
  --block-background-color: #fff;
  --block-accent-color: #00ae86;
  --block-shadow-color: #444;
  --block-border-color: #222;
}
.block {
  display: block;
  color: var(--block-text-color);
  border: 3px solid var(--block-border-color);
  border-radius: 3px;
  padding: 4px 8px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  margin: 8px 6px 10px;
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.block.wrapper,
.block.wrapper.inline {
  display: inline-block;
  padding: 0;
}
.block.wrapper > * {
  margin: 0;
}
.block:before {
  content: "";
  background: var(--block-background-color);
  border: 3px solid var(--block-border-color);
  border-radius: 3px;
  box-sizing: border-box;
  position: absolute;
  height: calc(100%);
  width: calc(100%);
  z-index: -1;
}
.block:after {
  content: "";
  display: block;
  box-sizing: border-box;
  background: var(--block-shadow-color);
  border: 3px solid var(--block-border-color);
  border-radius: 3px;
  height: calc(100%);
  width: calc(100%);
  position: absolute;
  right: 0;
  z-index: -2;
}
.block.link {
  font-size: 2em;
  vertical-align: center;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.linkbox {
  display: flex;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.block.navy {
  --block-background-color: var(--navy);
  --block-text-color: #fff;
}
.block.blue {
  --block-background-color: var(--blue);
  /*--block-text-color: #fff;*/
}
.block.aqua {
  --block-background-color: var(--aqua);
  /*--block-text-color: #fff;*/
}
.block.teal {
  --block-background-color: var(--teal);
  /*--block-text-color: #fff;*/
}
.block.olive {
  --block-background-color: var(--olive);
  /*--block-text-color: #fff;*/
}
.block.green {
  --block-background-color: var(--green);
  /*--block-text-color: #fff;*/
}
.block.lime {
  --block-background-color: var(--lime);
  /*--block-text-color: #fff;*/
}
.block.yellow {
  --block-background-color: var(--yellow);
  /*--block-text-color: #fff;*/
}
.block.orange {
  --block-background-color: var(--orange);
  /*--block-text-color: #fff;*/
}
.block.red {
  --block-background-color: var(--red);
  /*--block-text-color: #fff;*/
}
.block.fuchsia {
  --block-background-color: var(--fuchsia);
  /*--block-text-color: #fff;*/
}
.block.purple {
  --block-background-color: var(--purple);
  /*--block-text-color: #fff;*/
}
.block.maroon {
  --block-background-color: var(--maroon);
  /*--block-text-color: #fff;*/
}
.block.white {
  --block-background-color: var(--white);
  /*--block-text-color: #fff;*/
}
.block.gray {
  --block-background-color: var(--gray);
  /*--block-text-color: #fff;*/
}
.block.silver {
  --block-background-color: var(--silver);
  /*--block-text-color: #fff;*/
}
.block.black {
  --block-background-color: var(--black);
  --block-text-color: #fff;
}
